@mixin mixin-pinet-form-select() {
	.selectboxit-container {
		.selectboxit-options {
			border-radius: 0;
		}
		.selectboxit-btn {
			background-color: #ffffff;
			background-image: none;
			margin-top: 2px;
			margin-bottom: 2px;
			color: #6f767e;
			border-radius: 3px;
			border-color: #dddddd;
			&.selectboxit-enabled:hover,
			&.selectboxit-enabled:focus,
			&.selectboxit-enabled:active {
				color: #6f767e;
				background-color: #ffffff;
			}
			&.selectboxit-open {
				margin-bottom: 2px;
			}
		}
		.selectboxit-list {
			width: 100%;
			.selectboxit-option-anchor {
				color: #6f767e;
			}
			& > .selectboxit-focus {
				& > .selectboxit-option-anchor {
					background-color: #41b6eb;
					background-image: none;
					color: #ffffff;
				}
			}
		}
	}
}

@mixin mixin-pinet-form-select-deprecated() {
	.selectboxit-container {
		span {
			height: res(75px);
			line-height: res(75px);
		}
		.selectboxit-options {
			a {
				height: res(75px);
				line-height: res(75px);
			}
		}
	}
}