.dropdown-menu > li, .sub-navi > li {
	position: relative;

    &:hover {
      > a > i {
        color: $gray-dark;
      }
    }

    &.sub > a:after, &.active > a:after {
      content: "\e250";
      position: relative;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 7px;
      float: right;
      top: 3px;
      color: $gray-light;
    }
}

@media (min-width: $grid-float-breakpoint) {

    .dropdown-menu {
        .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            visibility: hidden;
            margin-top: -1px;
        }

        li:hover {
            .sub-menu {
                visibility: visible;
            }
        }
    }

    .navbar-nav {
        position: relative;
        
        > li:hover {
            background-color: $gray-lighter;
        }
        
        .sub-navi {
            left: 100%;
            position: absolute;
            top: 0;
            visibility: hidden;
//            visibility: visible;
//            display: block;
            margin-top: -1px;


            > li:hover > .sub-navi {
                visibility: visible;
            }
        }

        > li > .sub-navi {
            left: 0;
            top: 100%;
        }

        li:hover {
            .sub-navi {
                display: block;
            }
        }

        > li:hover > .sub-navi {
            visibility: visible;
        }
    }

	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
		margin-top: 0;
	}

	.navbar .sub-menu:before {
		border-bottom: 7px solid transparent;
		border-left: none;
		border-right: 7px solid rgba(0, 0, 0, 0.2);
		border-top: 7px solid transparent;
		left: -7px;
		top: 10px;
	}

	.navbar .sub-menu:after {
		border-top: 6px solid transparent;
		border-left: none;
		border-right: 6px solid #fff;
		border-bottom: 6px solid transparent;
		left: 10px;
		top: 11px;
		left: -6px;
	}

}

@media (max-width: $grid-float-breakpoint-max) {

	.dropdown.open .dropdown-menu {
		display: block;
	}

	.dropdown-menu > li.sub > a:after {
		content: "\e252";
		margin-right: 10px;
	}

}
