$pinet-blue: #1d99d2 !default;
$pinet-blue-hover: #0d8bc5 !default;
$pinet-blue-active: #087eb5 !default;

$pinet-cyan: #1dd2af !default;
$pinet-cyan-hover: #0dc5a1 !default;
$pinet-cyan-active: #07ba97 !default;

$pinet-green: #55d684 !default;
$pinet-green-hover: #42cb74 !default;
$pinet-green-active: #33bc65 !default;

$pinet-grey: #c3c9cf !default;
$pinet-grey-hover: #b9c0c7 !default;
$pinet-grey-active: #afb7bf !default;

$pinet-orange: #ffb24d !default;
$pinet-orange-hover: #fca32f !default;
$pinet-orange-active: #fc9714 !default;

$pinet-red: #f9845b !default;
$pinet-red-hover: #fc622b !default;
$pinet-red-active: #f84e12 !default;

$pinet-white: #ffffff !default;
$pinet-white-hover: #b9c0c7 !default;
$pinet-white-active: #afb7bf !default;

$pinet-delete: #f2f3f5 !default;
$pinet-delete-hover: #d3dadd !default;
$pinet-delete-active: #bfc7cb !default;


//pinet.alert

$pinet-alert-success-bg: $pinet-green !default;
$pinet-alert-success-border: $pinet-green !default;
$pinet-alert-success-text: #ffffff !default;
$pinet-alert-success-btn-bg: #99e6b5 !default;
$pinet-alert-success-btn-bg-hover: #6be397 !default;

$pinet-alert-info-bg: $pinet-blue !default;
$pinet-alert-info-border: $pinet-blue !default;
$pinet-alert-info-text: #ffffff !default;
$pinet-alert-info-btn-bg: #afd5e6 !default;
$pinet-alert-info-btn-bg-hover: #66bce3 !default;

$pinet-alert-warn-bg: $pinet-orange !default;
$pinet-alert-warn-border: $pinet-orange !default;
$pinet-alert-warn-text: #ffffff !default;
$pinet-alert-warn-btn-bg: #e8cda9 !default;
$pinet-alert-warn-btn-bg-hover: #dda760 !default;

$pinet-alert-error-bg: $pinet-red !default;
$pinet-alert-error-border: $pinet-red !default;
$pinet-alert-error-text: #ffffff !default;
$pinet-alert-error-btn-bg: #e8b6b6 !default;
$pinet-alert-error-btn-bg-hover: #da6161 !default;

$pinet-dialog-green: #51b46d !default;
$pinet-dialog-red: #f9845b !default;
