/// screen
@if variable-exists(screen-sm) == false {
	$screen-sm: 768px !default;
}

@if variable-exists(screen-sm-min) == false {
	$screen-sm-min: $screen-sm !default;
}

@if variable-exists(screen-md) == false {
	$screen-md: 992px !default;
}

@if variable-exists(screen-md-min) == false {
	$screen-md-min: $screen-md !default;
}

@if variable-exists(screen-lg) == false {
	$screen-lg: 1200px !default;
}

@if variable-exists(screen-lg-min) == false {
	$screen-lg-min: $screen-lg !default;
}

/// grid
@if variable-exists(grid-columns) == false {
	$grid-columns: 12 !default;
}

@if variable-exists(grid-gutter-width) == false {
	$grid-gutter-width: 30px !default;
}

@if variable-exists(grid-float-breakpoint) == false {
	$grid-float-breakpoint: $screen-sm-min !default;
}

@if variable-exists(grid-float-breakpoint-max) == false {
	$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
}

/// container
@if variable-exists(container-tablet) == false {
	$container-tablet: (720px + $grid-gutter-width) !default;
}

@if variable-exists(container-sm) == false {
	$container-sm: $container-tablet !default;
}

@if variable-exists(container-desktop) == false {
	$container-desktop: (940px + $grid-gutter-width) !default;
}

@if variable-exists(container-md) == false {
	$container-md: $container-desktop !default;
}

@if variable-exists(container-large-desktop) == false {
	$container-large-desktop: (1140px + $grid-gutter-width) !default;
}

@if variable-exists(container-lg) == false {
	$container-lg: $container-large-desktop !default;
}
