%floatleft {
	float: left;
}

%minheight {
	min-height: 1px;
}

%colcommon {
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	position: relative;	
}

@mixin responsive_pinet_grid($args...) {

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	@if type-of($screen-width) == number {
		$grid-col-rs: strip-unit($screen-width);
		@if type-of($alias-width) == number {
			$grid-sel: $grid-col-rs;
		}
		@else {
			$grid-sel: $grid-col-rs, $alias-width;
		}

		@for $i from 1 through $grid-columns {
			$grid-col-width: percentage(($i / $grid-columns));
			
			@each $sel in $grid-sel {
				.col-#{$sel}-#{$i} {
					@extend %floatleft;
					@extend %minheight;
					@extend %colcommon;
					width: $grid-col-width;
				}

				.col-#{$sel}-offset-#{$i} {
					margin-left: $grid-col-width;
				}

				.col-#{$sel}-push-#{$i} {
					left: $grid-col-width;
				}

				.col-#{$sel}-pull-#{$i} {
					right: $grid-col-width;
				}

				.col-#{$sel}-#{$i}.col-center {
					left: (100% - $grid-col-width) / 2;
				}
			}
		}
	}
	@else {
		[DEBUG-reponsive_pinet_grid] {
			width: $screen-width;
		}
	}

}