@mixin init_pinet_alert() {
	.alert {
		width: 96.5%;
		display: table;
		margin: 0 auto;
		padding: 1.5rem 1.5rem;		
		font-size: 1.5rem;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		border-radius: 5px;

		&.error {
			background: #EA6C6C;
			color: #fff;
			.alert-control .btn{
				border: 1px solid darken(#EA6C6C, 10%);
			}
			.alert-control .btn:hover {
				background-color: lighten(#EA6C6C, 10%);
			}			
		}

		&.info {
			background: #1c94c4;
			color: #fff;
			.alert-control .btn{
				border: 1px solid darken(#1c94c4, 10%);
			}
			.alert-control .btn:hover {
				background-color: lighten(#1c94c4, 10%);
			}			
		}

		&.success {
			background: #0dc5a1;
			color: #fff;
			.alert-control .btn{
				border: 1px solid darken(#0dc5a1, 10%);
			}
			.alert-control .btn:hover {
				background-color: lighten(#0dc5a1, 10%);
			}			
		}

		&.warning {
			background: #f0ad4e;
			color: #fff;
			.alert-control .btn{
				border: 1px solid darken(#f0ad4e, 10%);
			}
			.alert-control .btn:hover {
				background-color: lighten(#f0ad4e, 10%);
			}			
		}

		.alert-message {
			display: table-cell;
		}

		.alert-control {
			display: table-cell;
			width: 190px;
			text-align: center;
			cursor: pointer;
		}

		.alert-control .btn {
			border-radius: 3px;
			padding: 10px;
			margin-right: 1rem;
		}
		
	}
}
