;===============================================================================
;
; The validation rule for simple name
; 
; @version 1.0
; @author Jack <guitarpoet@gmail.com>
; @date Fri Feb 20 11:58:47 2015
;
;===============================================================================

(defrule name-must-start-with-a-character
	(name ?field ?n &:(match ?n "^[^_a-zA-Z].*"))
	=>
	(assert (error (str-cat "Name [" ?n "] of field " ?field " is not start with character")))
)

(defrule name-must-not-have-any-blanks
	(name ?field ?n &:(str-index " " ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have blank in it!")))
)

(defrule name-must-not-have-any-$
	(name ?field ?n &:(str-index "$" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have $ in it!")))
)

(defrule name-must-not-have-any-!
	(name ?field ?n &:(str-index "!" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ! in it!")))
)

(defrule name-must-not-have-any-#
	(name ?field ?n &:(str-index "#" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have # in it!")))
)

(defrule name-must-not-have-any-%
	(name ?field ?n &:(str-index "%" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have % in it!")))
)

(defrule name-must-not-have-any-amperstand
	(name ?field ?n &:(str-index "&" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have & in it!")))
)

(defrule name-must-not-have-any-`
	(name ?field ?n &:(str-index "`" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ` in it!")))
)

(defrule name-must-not-have-any-*
	(name ?field ?n &:(str-index "*" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have * in it!")))
)

(defrule name-must-not-have-any-left-bracelet
	(name ?field ?n &:(str-index "(" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ( in it!")))
)

(defrule name-must-not-have-any-right-bracelet
	(name ?field ?n &:(str-index ")" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ) in it!")))
)

(defrule name-must-not-have-any-+
	(name ?field ?n &:(str-index "+" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have + in it!")))
)

(defrule name-must-not-have-any-/
	(name ?field ?n &:(str-index "/" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have / in it!")))
)

(defrule name-must-not-have-any-,
	(name ?field ?n &:(str-index "," ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have , in it!")))
)

(defrule name-must-not-have-any-wave
	(name ?field ?n &:(str-index "~" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ~ in it!")))
)

(defrule name-must-not-have-any-=
	(name ?field ?n &:(str-index "=" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have = in it!")))
)

(defrule name-must-not-have-any-%
	(name ?field ?n &:(str-index "%" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have % in it!")))
)

(defrule name-must-not-have-any-@
	(name ?field ?n &:(str-index "@" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have @ in it!")))
)

(defrule name-must-not-have-any-^
	(name ?field ?n &:(str-index "^" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ^ in it!")))
)

(defrule name-must-not-have-any->
	(name ?field ?n &:(str-index ">" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have > in it!")))
)

(defrule name-must-not-have-any-lt
	(name ?field ?n &:(str-index "<" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have < in it!")))
)

(defrule name-must-not-have-any-:
	(name ?field ?n &:(str-index ":" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have : in it!")))
)

(defrule name-must-not-have-any-quote
	(name ?field ?n &:(str-index "\"" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have \" in it!")))
)

(defrule name-must-not-have-any-?
	(name ?field ?n &:(str-index "?" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have ? in it!")))
)

(defrule name-must-not-have-any-line
	(name ?field ?n &:(str-index "|" ?n))
	=> 
	(assert (error (str-cat "Name [" ?n "] of field " ?field " have | in it!")))
)
