@mixin box-sizing($boxmodel) {
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

@mixin form-control() {
	display: inline-block;
	border: none;
	@content;
}

@mixin form-group() {
	@content;
}

@mixin form-label() {
	display: inline-block;
	@content;
}

@mixin btn() {
	display: inline-block;
	padding: $btn-padding;
	font-size: $btn-font-size;
	min-width: 60px;
	text-align: center;
	@content;
}

@mixin get-btn-property($state, $property) {
	#{$property}: map-get(map-get($btn-theme, $state), $property);
}

@function get-btn-property($state, $property) {
	@return map-get(map-get($btn-theme, $state), $property)
}