.ui-selectable {
	-ms-touch-action: none;
	touch-action: none;
}

.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}

.listview_wrapper {
	position: relative;

	.listview_item_template {
		display: none;
	}

	.listview_length_template {
		display: none;
	}

	%inlinetable {
		display: inline-table;
		vertical-align: middle;
		float: none;
	}

	.listview_length {
		@extend %inlinetable;
		margin: 0 10px;
		> label {
			display: inline-table;
			vertical-align: middle;
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.listview_orderbox {
		@extend %inlinetable;
		margin: 0 10px;
	}

	.listview_filter {
		@extend %inlinetable;
		position: absolute;
		right: 0;
		margin: 0px 15px;
	}

	.listview {
		padding: 0;
		overflow: hidden;
		.listview_item {
			position: relative;
			float: left;
			display: block;
			&.edge {
				margin-right: 0;
			}
		}

		.listview_item_template {
			display: none;
		}

		.listview_data {
			margin-top: 20px;
		}

		li {
			&.ui-selecting {
				background: #d3d3d3;
			}
			&.ui-selected {
				background: #d3d3d3;
			}
		}

		@include layout-absolute('.listview_item');
	}

	.listview_pagination {
		display: inline-table;
		position: absolute;
		right: 0;
		.paginate_button {
			padding: 5px 10px;
			margin: 0px 5px;
			border-radius: 3px;
			cursor: pointer;
		}
		span {
			a.dataTables_paginate {
				background: none;
			}

			a.paginate_button {
				background: none;
				color: #5c5e5f;
				border-color: transparent;

				&:hover {
					border-color: transparent;
					background: #9ea3a6;
				}
			}

			a.paginate_button.current {
				color: #ffffff;
				background: #9ea3a6;
			}
		}
		a.paginate_button {
			&.previous, &.next {
				color: #5c5e5f;
				i {
					color: #5c5e5f;
				}
				&.disabled {
					color: #9ea3a6;
					i {
						color: #9ea3a6;
					}
				}
				&:hover {
					border-color: transparent;
					background: none;
					i {
						color: #9ea3a6;
					}
				}
			}
			&:hover {
				text-decoration: none;
				color: #ffffff;
			}
		}
	}
}
